/* Universal Styles */
* {
  font-family: 'Bitter', serif;
  box-sizing: border-box;
  line-height: 1.25rem;
}

/* Element Selectors */
header {
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

button {
  padding: 20px;
}

/* Class Selectors */
.container {
  min-height: 100vh;
  margin: auto;
}

.newsletter {
  display: inline-block;
}

/* Id Selectors */
#submit {
  color: white;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background: #27c29e;
}

/* Type Selectors */
button + p {
  text-align: center;
  color: grey;
  font-style: italic;
  font-weight: lighter;
}
