/* Universal Styles */
* {
  font-family: 'Bitter', serif;
  box-sizing: border-box;
  line-height: 1.25rem;
}

/* Element Selectors */
body {
  margin: 0;
}

header {
  text-align: center;
}

h2 {
  margin: 0 0 20px;
}

p, label {
  color: grey;
  margin: 5px 0px;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

legend {
  font-weight: bold;
  font-size: 18px;
  padding: 20px 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

input,
select {
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background: #EEEEEE;
}

input:focus,
select:focus {
  border: solid 2px midnightblue;
  border-radius: 5px;
  outline: none;
  background: #CFD8FA;
  transition: .75s;
}

::-webkit-input-placeholder {
  text-align: right;
  padding-right: 15px;
  font-style: italic;
}

textarea::-webkit-input-placeholder {
  text-align: left;
  padding: 5px 0 0 15px;
  font-style: normal;
}

button {
  padding: 20px;
}

/* Class Selectors */
.container {
  min-height: 100vh;
  margin: auto;
}

.header-info {
  margin: 30px auto;
}

.header-break {
  border: none;
  border-bottom: 3px solid black;
  width: 90%;
  margin-bottom: 4px;
}

.header-break2 {
  border: none;
  border-top: 2px solid black;
  width: 90%;
  margin-top: 0;
}

.news-break {
  border: none;
  border-top: 2px solid black;
  width: 90%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  background: #C8CDE2;
  border: 2px solid #BEC4DB;
  border-radius: 10px;
  padding: 10px;
}

.newsletter p,
.newsletter label {
  color: #5C5D61;
}

.newsletter_format {
  margin-top: 20px;
}

.news-title {
  width: 130px;
  border: 3px solid #BEC4DB;
  background: #C8CDE2;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
}

.newsletter_label {
  margin-top: 20px;
}

/* Id Selectors */
#page-title {
  color: white;
  background: #3A4058;
  padding: 30px 20px;
}

#zip {
  width: 50%;
}

#other_topics {
  border: none;
  border-radius: 5px;
  background-color: #EEE;
  height: 90px;
}

#submit {
  color: white;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
  background: #697BC5;
  margin: 20px auto;
  width: 90%;
}

/* Combinator Selectors */
button + p {
  text-align: center;
  color: grey;
  font-style: italic;
  font-weight: lighter;
}

/* Type Selectors */
[name="news"],
[type="radio"] {
  height: 20px;
  margin: 5px 10px 5px 0px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  form,
  .header-info {
    width: 55%;
    margin: 0 auto;
  }

  .header-break,
  .header-break2,
  .news-break {
    width: 55vw;
  }

  .header-info {
    padding: 25px;
  }

  .header-info > p {
    font-weight: lighter;
    font-size: 14px;
  }

  .contact-info {
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .contact-info input,
  select {
    width: 70%;
    margin: 10px 0;
  }

  .contact-info label {
    width: 30%;
    margin: 10px 0;
  }

  #zip {
    width: 20%;
    margin-right: auto;
  }

  #submit {
    width: 100%;
  }

  fieldset {
    padding: 0;
    margin: 0;
  }

  .contact-head {
    width: 100%;
  }

  button + p {
    margin: 25px;
  }
}
